<div class="row">
    <div class="col-6">

        <app-dona title="Ventas">
            
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona title="Compras"
                  [labels]="labels1"
                  [data]="data1"
                  [color]="colors1">
        </app-dona>

    </div>

</div>

<div class="row">
    <div class="col-6">

        <app-dona title="Pagos"
                  [labels]="labels2"
                  [data]="data2"
                  [color]="colors2">
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona title="Cambios"
                  [labels]="labels3"
                  [data]="data3"
                  [color]="colors3">
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona title="Respaldos"
                  [labels]="labels4"
                  [data]="data4"
                  [color]="colors4">
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona title="Games"
                  [labels]="labels5"
                  [data]="data5"
                  [color]="colors5">
        </app-dona>

    </div>

</div>